
.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}


.item {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
