* {
    margin: 0;
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    width: 100%;
}

.select {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
    width: 100%;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(100% - 20px);
    max-width: calc(100% - 20px);
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.item .price {
    margin-bottom: auto;
}

@media (min-width: 600px) {
    .item {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (min-width: 900px) {
    .item {
        flex: 1 1 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
    }
}
