.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;

}

.input {
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    width: 100%;
}

.select {
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    width: 100%;
}

